/**
   |============================
   | Base styles
   |============================
 */

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --white: #fff;
  --cloud: #f4f4fd;
  --slate: #434455;

  /* other */
}
body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: var(--slate);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: #2e2f42;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset end */
.link:hover {
  color: var(--ocean);
}
.link:focus {
  color: var(--ocean);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin: 0 auto;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  width: 324px;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.studio {
  color: var(--navyblue);
}
.list-item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.address {
  font-style: normal;
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.address-list {
  display: flex;
  gap: 40px;
}
/**
   |============================
   | Hero styles
   |============================
 */
.hero-section {
  background: var(--navyblue);
  padding: 188px 0;
}
.hero-container {
  padding: 188px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  color: var(--white, #fff);
  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
.hero-button {
  min-width: 169px;
  height: 56px;
  background: var(--iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: block;
  margin: auto;
  padding: 16px 32px;
  height: 56px;
  border-radius: 4px;
  border: none;
}
.hero-button:hover {
  background: var(--ocean);
}
.hero-button:focus {
  background: var(--ocean);
}

/**
   |============================
   | Advantages styles
   |============================
 */
.advantages-section {
  padding: 120px 0;
}
.advantages-container {
  width: 1158px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}
.advantages-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
}
.advantages-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
/**
  |============================
  | Make styles
  |============================
*/
.make-section {
  padding-bottom: 120px;
}
.make-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.make-list {
  --indent: 24px;
  --item: 3;
}
/**
  |============================
  | Team styles
  |============================
*/
.team-section {
  background: var(--cloud);
  padding: 120px 0;
}

.team-item {
  background: var(--white);
  color: var(--navyblue);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.team-text {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.team-list {
  --indent: 24px;
  --item: 4;
}
.team-wrapper {
  padding: 32px 0;
  text-align: center;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer-section {
  background: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}
.studio-footer {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  width: 264px;
}
/**
  |============================
  | Portfolio styles
  |============================
*/
.portfolio-section {
  padding: 96px 0 120px 0;
}
.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
}
.button-filter-text {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.button-filter:hover {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}
.button-filter:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}

.button-portfolio {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  gap: 24px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-set-item-portfolio {
  width: calc((100% - 48px) / 3);
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  text-align: left;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
